* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  width: 1400px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style-type: none;
}
